.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.pink {
    color: #e468ff;
}

.purple {
    color: purple;
}

.orange {
    color: orange;
}

.orangered {
    color: orangered;
}
.wrap {
    padding-top: 100px;
    text-align: center;
}

.g_button {
    background: #fff;
}

.vl {
    display: inline;
    border-left: 1px solid white;
}

h4.greeting {
    color: #fff;
    margin: 5px 280px auto auto;
}

.dropdown-item a{
    color: darkslategray;
}

.dropdown-item a:hover {
    text-decoration: none;
}
