.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.pink {
    color: orange;
}

.purple {
    color: purple;
}

.wrap {
    padding-top: 100px;
    text-align: center;
}

.g_button {
    background: #fff;
}

.vl {
    display: inline;
    border-left: 1px solid white;
}


