.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.pink {
    color: pink;
}

.purple {
    color: purple;
}

.wrap {
    padding-top: 100px;
    text-align: center;
}